{# src/P4/BilletterieBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
      /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');*/
      @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
      @import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
    </style>

    <title>{% block title %}Billetterie{% endblock %}</title>

    {% block stylesheets %}

      {% stylesheets filter='cssrewrite, ?scssphp'
      'bundles/p4billetterie/css/bootstrap.v1.css'
       %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}

    {% endblock %}

  </head>

  <body>

  <header class="row col-lg-12">
    <h1>Musée du Louvre</h1>
    <p>
      Achetez votre billet en quelques clics.
    </p>
  </header>

  <div class="row col-lg-12">
  <div class="container">

    <div class="jumbotron col-lg-3" id="infosPratiques">
      <div class="container-fluid col-lg-3">
        <h4>Infos pratiques </h4>
        <h5>Adresse</h5>
        <p>Musée du Louvre, 75058 Paris - France</p>
        <h5>Téléphone</h5>
        <p>+ 33 (0)1 40 20 53 17</p>
        <h5>Horaires</h5>
        <p>Ouvert tous les jours de 9h à 18h sauf le mardi et dimanche.
        Nocturnes jusqu’à 21h45 le mercredi et le vendredi.
        </p>
        <h5>Tarifs</h5>
        <ul id="tarifs">
            <li><strong>16 € - tarif « normal »</strong> à partir de 12 ans</li>
            <li><strong>12 € - tarif « seniors »</strong> à partir de 60 ans</li>
            <li><strong>8 € - tarif « enfant »</strong> de 4 à 12 ans</li>
            <li><strong>10 € - tarif « préférentiel »</strong> accordé pour les étudiants, les employés du musée, ceux du Ministère de la Culture et les militaires. La présentation d'une carte attestant de ce statut sera demandé à l'entrée.
            </li>
            <li><strong>Gratuit</strong> pour les enfants de moins de 4 ans</li>
        </ul>
      </div>
    </div>
    
    <div class="jumbotron col-lg-9">
      <div class="container-fluid col-lg-9">

        {# BODY #}
        {% block body %}
        {% endblock %}

        <hr>

        {# FOOTER #}
        <footer>
          <p>Musée du Louvre © {{ 'now'|date('Y') }}</p>
        </footer>
      </div>
    </div>

  </div>
  </div>

  </body>
</html>